@use 'vars' as *;

body    {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: $basic;
  @extend %roboto-400;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto; 
}