@use 'vars' as *;

body    {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: $basic;
  @extend %roboto-300;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto; 
}

.title {
  font-size: 48px;
  line-height: 56px;
  @extend %raleway-600;
  text-transform: uppercase;
  color: $title;
  display: flex;
  justify-content: center;
  &::before {
      content: ">";
      font-size: 92px;
      line-height: 85px;
      letter-spacing: 0.01em;
      color: $accent;
    }
}