$basic: #242121;
$title: #0d302c;


%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
} 

%quicksand-600 {
  font-family: 'Raleway-SemiBold', sans-serif;
  font-weight: 600;
}