$basic: #212517;
$title: #128277;
$accent: #004D47;
$bg: #B9C4C9;


%roboto-300 {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
} 
%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
} 

%raleway-600 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}