@use 'vars' as *;
@use 'fonts' as *;
@use 'reset' as *;
@use 'global' as *;
@use 'media' as *;


.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
  }
  &__button-link {
    margin-bottom: 92px;
  }
}

.header-content {
  text-align: center;
  &__title {
    font-size: 200px;
    line-height: 235px;
    color: $basic;
    @extend %raleway-600;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $basic;
    padding-bottom: 300px;
  }
}


.header-menu {
  margin-top: 30px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: flex;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $title;
    margin-right: 45px;
  }
}

.info {
  padding: 190px 0 200px;
  &__title {
    margin-bottom: 65px;
  }
  &__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__text-item {
    width: 480px;
    margin-bottom: 30px;
  }
}

.school {
  padding: 200px 0 200px;
  background-color: $bg;
  &__title {
    margin-bottom: 70px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  } 
  &__item-title {
    font-size: 24px;
    line-height: 28px;
    @extend %roboto-400;
    text-align: center;
    position: relative;
    margin-left: 56px;
    flex: 1; 
    max-width: 312px; 
  }
  &__item-title::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
  }
  &__item-title--house {
    padding-top: 12px;
    margin-bottom: 35px;
    &::before{
      background-image: url(../images/school/house-solid.svg);
      width: 56px;
    }
  }
  &__item-title--person {
    margin-bottom: 20px;
    &::before{
      background-image: url(../images/school/person-solid.svg);
      height: 50px;
      width: 38px;
    }
  }
  &__item-title--shield {
    padding-top: 12px;
    margin-bottom: 35px;
    &::before{
      background-image: url(../images/school/shield-solid.svg);
    }
  }
  &__item-text {
    max-width: 350px;
  }
}

.school-bottom {
  display: flex;
  justify-content: space-between;
  &__snake {
    margin-top: 60px;
  }
  &__snake-item {
    position: relative;
    margin-bottom: 35px;
    span {
      font-size: 24px;
      line-height: 18px;
      position: absolute;
      margin-left: 10px;
      top: -5px;
    }
  }
  &__snake-img {
    width: 295px;
  }
  &__content {
    width: 500px;
  }
  &__content-title {
    font-size: 25px;
    line-height: 28px;
    @extend %raleway-600;
    text-transform: uppercase;
    color: $title;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__content-list {
    li {
      color: #DED3A6;
      margin-bottom: 20px;
    }
    li span {
      color: $basic;
    }
  }
  ul.school-bottom__content-list {
    list-style: square;
  }
}

.study {
  padding: 200px 0 350px;
  background-image: url('../images/study-bg.jpg');
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: right top;
    &__inner {
      max-width: 100%;
    }
    &__title {
    justify-content: start;
    margin-bottom: 70px;
    }
    &__text {
      width: 507px;
      margin-bottom: 30px;
      &:last-child {
      margin-bottom: 0;
      }
    }
}